node_modules/
dist/
.turbo/
.idea/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
*.log
.env
admin/node_modules/
mobile/passenger_app/.dart_tool/
mobile/passenger_app/build/
mobile/driver_app/.dart_tool/
mobile/driver_app/build/
